/.idea
/build/windows/couchDB
/build/.windows-ready
/tmp
/delivery
/node_modules
/build/.debian-pi-ready
/build/.debian-pi-control
/build/windows/nodejs
/package-lock.json
/*.pfx
/ioBrokerCodeSigningCertificate.base64.txt
